* { /* variables and reset */
  --text-color : #C5C6C7;
  --text-highlight-color: #cc9767;
  --foreground-color : #212329;
  --background-color: #cc9767;
  --projects-text-color : white;
  --projects-background-color : #001220;
  --projects-item-text-color : white; 
  --projects-item-background-color : black;
  --projects-highlight-color : #47e37b;
  --contact-text-color : white;
  --contact-background-color: #001220;
  --contact-highlight-color: #c403bf;
  --blog-text-color : white;
  --blog-background-color: #001220;
  --blog-highlight-color: #39b7f2;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: min( 2.3vw, 1rem);
}

/* Set height and overflow to prevent animations extending page height */
main {
  height: 100%;
  overflow-y: hidden;
}

body{
  background-color: var(--background-color);
}
/* global css */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--projects-background-color);
  align-items: center;
  width: 40%;
  padding: 10px 20px;
  margin: auto;
  position: absolute;
  left: 30%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.back-home-button {
  padding : 0.8rem;
  font-size: 1rem;
  border: var(--projects-text-color) 8px double;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  color: var(--projects-text-color);
}

.back-home-button:hover {
  filter: brightness(0.7);
}

/* Animations */
@keyframes line-animate {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  from {
    transform: scaleY(0.7);
    opacity: 0;
  }
  to{
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes expand {
  from{
    height: 95%;
    width: 95%;
  }
  to {
    height: 100%;
    width : 100%;
  }
  
}


@keyframes scale-page-down {
  from {
    transform: scaleY(1);

  }
  to {
    transform: scaleY(0);
  }
}

@keyframes move-page-up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes move-page-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
  
}

@keyframes expand-down {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

/* Animations for homepage on load */
.fade-in-animate {
  animation: 0.6s ease-in-out 0s 1 forwards fade-in;
  transform-origin: top center;
  opacity: 0;
}
.fade-in-delay1-animate {
  animation: 0.6s ease-in-out 0.6s 1 forwards fade-in;
  transform-origin: top center;
  opacity: 0;
}

.fade-in-delay2-animate {
  animation: 0.6s ease-in-out 1.2s 1 forwards fade-in;
  transform-origin: top center;
  opacity: 0;
}
/* end of homepage on load animations */

/* Animations triggered by View projects Button, in order of delay*/

.foreground-close-animate {
  animation: 0.4s ease-in 0s 1 forwards expand, 0.6s ease-in 0.4s 1 forwards scale-page-down;
  transform-origin: top center;
}

.homepage-close-animate{
  animation:  0.6s ease-in 0.4s 1 forwards scale-page-down; 
  transform-origin: top center;
}

.open-animate{
  animation:  0.6s ease-in 0.4s 1 move-page-up;
}
/* end of View projects animations */


/*Animations triggered by Back Home Buttom, in order of dely*/
.close-animate{
  animation:  0.6s ease-out 0s 1 move-page-down;
}

.homepage-open-animate{
  animation:  0.6s ease-in 0s 1 forwards reverse scale-page-down; 
  transform-origin: top center;
}

.foreground-open-animate {
  width: 100%;
  height: 100%;
  animation: 0.4s ease-in 0.8s 1 forwards reverse expand, 0.8s ease-in 0s 1 forwards reverse  scale-page-down;
  transform-origin: top center;
}


/* end of Back Home animations */

/* Homepage css */
i,strong{
  color: var(--text-highlight-color);
}


@keyframes background-slide {
  from {background-position: 0px 0px;}
  to {background-position: 0px -4000px;}
}
#introduction-container {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

#profile-pic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 3px solid var(--text-highlight-color);
}

/* #text-section {
   display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; 
} */

#stars {
  background: var(--foreground-color) url('/assets/stars.png') repeat top center;
  background-size: auto 1000px;
  animation: 200s linear 0s infinite background-slide;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#foreground {
  background: var(--foreground-color);
}

#foreground h1{
  text-align: center;
  color: var(--text-color);
  font-size: 2.4rem;
}

#foreground p {
  text-align: center;
  color: var(--text-color);
  font-size: 1.3rem;
  line-height: 2rem;
  max-width: min(80vw, 500px);
  padding: 10px;
}

.homepage-button {
  color: var(--text-color);
  background-color: transparent;
  padding : 0.8rem;
  font-size: 1.2rem;
  border: var(--text-highlight-color) 0.5rem double;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  min-width: 8rem;
} 

.homepage-button:hover{
  filter: brightness(0.7);
}

#foreground nav {
  display: flex;
  justify-content: center;
  gap : 2rem;
  align-items: center;
  flex-flow: row;
  justify-content: space-evenly;
  padding-top: 20px;
}

#homepage{
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* projects css */

#projects h2 {
  text-align: center;
  font-size: 2.0rem;
}



@media screen and (min-width: 750px) {
  #projects {
    grid-template-rows: 200px 50px 420px;
    grid-template-columns: 1fr 650px 1fr;
  }
  #projects header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }
  #slider-counter {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }
  #slider {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
  #left-button {
    justify-self: flex-end;
    align-self: center;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  #right-button {
    justify-self: flex-start;
    align-self: center;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }
}

@media screen and (max-width: 750px) {
  #projects {
    grid-template-rows: 200px 50px 420px;
    grid-template-columns: 1fr 1fr;
  }
  #projects header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  #slider-counter {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  #slider {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
  #left-button {
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  #right-button {
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

#projects {
  position: absolute;
  height : 100%;
  width: 100%;
  color: var(--projects-text-color);
  z-index: 0;
  background: url(/assets/green-waves.svg) repeat-x top center;
  background-size: 800px auto;
  display: grid;
}

#slider {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  transform-style: preserve-3d;
}

#left-button, #right-button {
  cursor: pointer;
  background-color: transparent;
  color: var(--projects-highlight-color);
  border-radius: 50%;
  border: 4px double var(--projects-highlight-color);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-button:hover, #right-button:hover {
  filter: brightness(0.7);
}

#slider-counter {
  width : 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider-counter span {
  height: 15px;
  width: 15px;
  background-color: #033d32;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 50%;
  display: inline-block;
}

.selected {
  background-color: var(--projects-highlight-color)!important;
}

/* Css for projects item within slider */
projects-item {
  position: absolute;
  width: 40%;
  top : 0%;
  opacity: 1;
  transform: translate3d(0%, 0%, -200px) scale(0.8);
  transform-style: preserve-3d;
  transition: transform 0.55s ease;
  height : 400px;
}

/* Positions that handle moving slider  */
.position1 {
  box-shadow: 0 25px 50px rgba(0,0,0, 50%);
  opacity: 1;
  transform: translate3d(-55%, 0%, -120px) scale(0.8);
  color: lightgrey;
}

.position2 {
  box-shadow: 0 25px 50px rgba(0,0,0, 50%);
  opacity: 1;
  transform: translate3d(-25%, 0%, -60px) scale(0.9);
  color: lightgrey;


}

.position3 {
  box-shadow: 0 25px 50px rgba(0,0,0, 50%);
  opacity: 1;
  transform: translate3d(0%, 0%, 0px) scale(1.0);
}

.position4 {
  box-shadow: 0 25px 50px rgba(0,0,0, 50%);
  opacity: 1;
  transform: translate3d(25%, 0%, -60px) scale(0.9);
  color: lightgrey;

}

.position5 {
  box-shadow: 0 25px 50px rgba(0,0,0, 50%);
  opacity: 1;
  transform: translate3d(55%, 0%, -120px )  scale(0.8);
  color: lightgrey;

}

/** contact page css **/

#contact {
  position: absolute;
  height : 100%;
  width: 100%;
  color: var(--projects-text-color);
  z-index: 0;
  background: url(/assets/purple-waves.svg) repeat-x top center;
  background-size: 800px auto;
  display: grid;
}

#contact-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 200px;
  gap: 20px;
}

#contact-content p {
  text-align: center;
}
#contact-content form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  /* border: var(--contact-highlight-color) 3px solid; */
  /* padding : 12px 20px; */
  gap: 20px;
  border-radius: 8px;
  width: min(65vw, 600px);
}

#contact-content button{  
  padding : 0.8rem;
  font-size: 1rem;
  border: var(--contact-highlight-color) 8px double;
  border-radius: 8px;
  cursor: pointer;
  min-width: 8rem; 
  background-color: transparent;
  color: var(--projects-text-color);
}

#contact-content button:hover {
  filter: brightness(0.8);
}
#contact-content textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#contact-content label {
  display: flex;
  flex-flow: column;
  text-decoration: solid underline var(--contact-highlight-color) 1px ;
  text-underline-offset : 5px;
  gap: 10px;
  width : 100%;
}

#contact-content fieldset{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  border: none;
}

#contact-content fieldset label {
  width: 45%;
}

#contact-content input{
  width: 100%;
  height: 2.3rem;
  padding: 10px;
}

/* Blog page css */
#blog, #blog-post {
  position: absolute;
  height : 100%;
  width: 100%;
  color: var(--projects-text-color);
  z-index: 0;
  background: url(/assets/blue-waves.svg) repeat-x top center;
  background-size: 800px auto;
  display: grid;
}


#blog-posts {
  width: 100%;
}

#blog-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
  margin-top: 200px;
  width: min(65vw, 600px);
  margin-left: auto;
  margin-right: auto;
}

#blog-container h3 {
  text-decoration: solid underline var(--blog-highlight-color) 1px ;
  text-underline-offset : 5px;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 6px;
}

#blog-posts a {
  width:100%;
  background-color: #252b2f;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--blog-text-color);
  text-decoration: none;
}

@keyframes underline-animate {
  from{

  }
}
#blog-posts a:hover{
  /* text-decoration: solid underline var(--blog-highlight-color) 1px;
  text-underline-offset: 3px; */
  /* color: var(--blog-highlight-color); */
  background-color: #323a40;
}

/* #reading-list-container{ */
  /* padding-left: 2rem;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

#reading-list-container h3{
  text-decoration: solid underline var(--blog-highlight-color) 1px ;
  text-underline-offset : 5px;
  font-size: 1.7rem;
}

#reading-list-container p{
  font-size: 1rem;
}

#reading-list-container ol {
  margin-top: 20px;
  margin-left: 2rem;
  font-size: 1rem;
  max-width: 226px;
}

#reading-list-container li {
  margin-bottom: 8px;
} */
